/*-----global----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	font-size: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

a{
	color: white;
	text-decoration: none;
	display: flex;
}

body {
    font-family:sans-serif;
	color: white;
	background-color:white;
	font-size: 12px;

}

footer{
	color:lightgray;
	padding: 10px;
}

/* navigation bar */

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 60px;
	background-color: rgb(39, 39, 39);
}


.logo{
	color: white;
	letter-spacing: 5px;
	font-size: 12px;
}


.nav-links{
	display: flex;
	justify-content: space-around;
	width: 35%;
} 

.nav-links a, li{
	color: white;
	text-decoration: none;
	list-style: none;
	letter-spacing: 3px;
	font-size: 11px;
}

.nav-links a:hover{
	color: #D98E69;
	;
}

/* mobile burger menu */

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 2px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}

/* image gallery HP */

ul{
	list-style: none;

}
 
.d-flex-r {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img{
	width: 100%; 
	height: 100%;
}

.container{
width: 50%;
}

/* grid photo overlay */
.textHover {
	position: relative;
  }
  
.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(39, 39, 39, 0.85);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}
  
  /* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
	opacity: 1;
}

/* about page */

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

img{
	width: 100%; 
	height: 100%;}

.one_fourth {
width: 25%;
}

h1{
	font-size: 20px;
	letter-spacing: 7px;
	margin-bottom: 3%;
	text-align: left;
}

p{
	line-height: 25px;
	text-align: left;
}


button{
	border: 0;
	background: rgb(39, 39, 39);
	color: #fff;
	padding: 15px 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 10px;
	letter-spacing: 3px;
	font-size: 11px;
	margin-top:8%;
	margin-right: 15px;
	float: left;
}

button:hover{
background: #D98E69;
}


.about{
	margin-bottom: 5%;
	text-align: center;
	/* background-color:#c3b6a6; */
	color:black;
	padding: 7% 25% 17% 25%;
}

/* footer */

footer p{
	text-align: center;
	font-size: 15px;
	margin-bottom: 2%;
}

/* contact form */

.contact-section{
	padding: 40px 0;
}

  .contact-section h1{
	text-align: center;
	color: #222;
	letter-spacing: 5px;
}
  
.contact-form{
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}
  
.contact-form-text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 3px 0;
	border: 0;
	background: #f5f4f4;
	padding: 20px 40px;
	outline: none;
	color: #222;
	transition: 0.5s;
}

::placeholder{
	color:rgb(199, 198, 198);
	font-size: 12px;
	letter-spacing: 2px;
}

textarea.contact-form-text{
	resize: none;
	height: 150px;
}

.contact-form-btn{
	float: right;
	border: 0;
	background: rgb(39, 39, 39);
	color: #fff;
	padding: 15px 30px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.5s;
	margin-top: 10px;
	letter-spacing: 3px;
	font-size: 11px;
  }
.contact-form-btn:hover{
	background: #D98E69;
}
  
/* Project Page */

.projectHeadline {
	color: black;
	padding: 7% 23% 7% 23%;
}

h2{
	letter-spacing: 3px;
	font-size: 15px;
	text-align: left;
	margin-bottom: 2%;
	font-weight: 700;
}

h5{
	font-size: 11px;
	letter-spacing: 2px;
	font-weight: 400;
	margin-bottom: 1%;
}


.projectHeadline a{
	color: black;
	text-decoration: none;
	font-weight: 700;
}

.mockups{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mockups img {
	margin-bottom: 8%;
}

.width70{
	width: 70%;
}

.width80{
	width: 80%;
}

/* Media Queries */

@media screen and (max-width: 990px){
	.nav-links{
		width: 45%;
	} 	
}

@media screen and (max-width: 780px){
	.container{
		width: 100%;
	}
	body{
		overflow-x: hidden;
	}
	.nav-links{
		position: fixed;
		right:0px;
		height:350px;
		top:59px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width:50%;
		transform: translatex(100%);
		transition:all 0.5s ease-in;
	}
	.nav-links li{
		opacity:0;
	}
	.burger{
		display: block;
	}

	.projectHeadline {
		padding: 7% 7% 7% 7%;
	}

	.width70{
		width: 95%;
	}

	.width80{
		width: 90%;
	}

	.about{
		padding: 7% 7% 25% 7%;
		margin-bottom: 2%;
	}
	
	.logo{
		font-size: 15px;
	}

	/* .container:hover .overlay {
		opacity: 0;
	  }

	.textHover {
		position: unset;
	  } */

}
.nav-active{
	transform: translateX(0%);
	background-color: rgb(39, 39, 39);
}

@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px,-5px);
}